* {
  box-sizing: border-box;
}

body {
  background-color: #73fbfd;
  margin: 0;
  height: 100vh;
  padding: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  width: 285px;
  height: 300px;
  z-index: 3;
  background-color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  margin: 40px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 1px 1px 1px 1px #bbcacb;
}
.row {
  flex-direction: row;
  align-items: flex-end;
}

.h-element {
  z-index: 2;
  background-color: #70cdcb;
  margin: 10px;
  padding: 20px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 32px;
  border-radius: 10px;
}

.column {
  flex-direction: column;
  align-items: center;
}
